
/*barre de navigation*/
#nav{
	background-color: #343a40 !important;
}
#nav:hover{
	text-decoration: none;
}
nav {
	display: flex;
	align-content:center;
	position: sticky;
	width: 100%;
	height: 50px;
	background-color: #34495e;
	font-size: 0;
}
#sticky-finger{
	overflow:hidden;
	position:-webkit-sticky;
  	position:sticky;
  	top:0px;
  	z-index: 9;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none !important;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
}
a:nth-child(1) {
	width: 20%;
}
a:nth-child(2) {
	width: 20%;
}
a:nth-child(3) {
	width: 20%;
}
a:nth-child(4) {
	width: 20%;
}
a:nth-child(5) {
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 20%;
	left: 0;
	background-color: rgba(0,171,201,0.9);
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 20%;
	left: 20%;
	background-color: rgba(188,17,19,0.9);
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 20%;
	left: 40%;
	background-color: rgba(9,94,163,0.9);
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 20%;
	left: 60%;
	background-color: rgba(118,183,1,0.9);
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 20%;
	left: 80%;
	background-color: rgba(230,126,34,0.9);
}


nav h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

nav p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

nav span {
    color: #2BD6B4;
}
/*fin de barre de navigation*/
