
* { 
  box-sizing: border-box; 
    --transition-time: 0.5s;

 }
 #logo{
 	height: 120.2px;
 	float: left;
 	position: relative;
 }
body{
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #343a40;
  z-index: 3;
}
#stylé{
  background: linear-gradient(135deg, #425fff 0, #f8549e 60%, #fe6652 100%);
  height: .75rem;
  width: 100%;
}
#titre{
  background: -webkit-linear-gradient(135deg, #f8549e 0, #425fff 60%, #fe6652 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

#titre:before{
	content: "Un site d'information sur les avancées technologiques";
}
#titre:after{
  content:" récentes, les processeurs, les cartes graphique, les jeux et autres!";
}
/*images dans la barre et 'responsiveness'*/
.logos{
  height: 27px;
  width: 27px;
}
#amd:after{
  content: 'Processeurs et GPU AMD';
}
#intel:after{
  content: 'Processeur et GPU Intel';
}
#nvidia:after{
  content: 'GPU de chez Nvidia';
}
#news:after{
  content: 'News Global';
}
#autres:after{
  content: 'Jeux vidéo'
}
@media screen and (max-width: 1280px) {
.card #imgrtx3080{
  pointer-events: none;
}
.card #imgr5000{
  pointer-events: none;
}
.card #imgrocketl{
  pointer-events: none;
}
.card #imgmsfs{
  pointer-events: none;
}
.card #imgxbox{
  pointer-events: none;
}
.card #imgnice{
  pointer-events: none;
}
.card #imgsk{
  pointer-events: none;
}
.card #imgdom{
  pointer-events: none;
}
.card #imgiris{
  pointer-events: none;
}
.card #imgkant{
  pointer-events: none;
}
.card #imgpcgaming{
  pointer-events: none;
}
.card #imgr4000{
  pointer-events: none;
}
.card #imgrtx3070{
  pointer-events: none;
}
.card #imgrtx3090{
  pointer-events: none;
}
.card #imgshield{
  pointer-events: none;
}

  #amd:after{
  content: 'AMD';
}
#intel:after{
  content: 'INTEL';
}
#nvidia:after{
  content: 'Nvidia';
}
#news:after{
  content: 'Global';
}
nav .start-home, a:nth-child(1):active~.animation {
  width: 20%;
  left: 0;
  background-color: rgba(0,171,201,0.9);
}
nav .start-about, a:nth-child(2):active~.animation {
  width: 20%;
  left: 20%;
  background-color: rgba(188,17,19,0.9);
}
nav .start-blog, a:nth-child(3):active~.animation {
  width: 20%;
  left: 40%;
  background-color: rgba(9,94,163,0.9);
}
nav .start-portefolio, a:nth-child(4):active~.animation {
  width: 20%;
  left: 60%;
  background-color: rgba(118,183,1,0.9);
}
nav .start-contact, a:nth-child(5):active~.animation {
  width: 20%;
  left: 80%;
  background-color: rgba(230,126,34,0.9);
}


}

@media screen and (max-width: 480px) {
  #amd:after{
  content: ' ';
}
#intel:after{
  content: ' ';
}
#nvidia:after{
  content: ' ';
}
#news:after{
  content: ' ';
}
#autres:after{
  content: ' ';
}
}
/*fin*/
a{
  color: white;
}
a:hover{
  color: lightgrey;
  text-decoration: none;
}

#contenu{
	width: 100%;
	overflow: hidden;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
	position: relative;
}

/*cartes*/
.card{
	background-size:cover;
	background-color: #000000;
	height:  400px;
	width:  325px;
	margin: 15px;
  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
  	-webkit-box-orient:vertical;
  	-webkit-box-direction:normal;
 	-ms-flex-direction:column;
 	flex-direction:column;
  	position:relative;
  	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	border-radius: 16px;
    border:0px;
  	overflow:hidden;
  	border-color: transparent;
}
#contenucarte{
	overflow: hidden;
	height: 100%;
	top: 0px;
	left: 0px;
	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*rtx3080*/
#imgrtx3080{
	height: 100%;
	position: absolute;
  	top:0px;
  	left: 0px;
  	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
 	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	background-image: url('ressource/rtx3080.jpg');
	background-position: center;
	background-size: 800px 450px;
  	background-repeat:no-repeat;
}
.textrtx3080{
  	left: 0px;
	background-color: rgba(10,10,10,0.6);
  	position:absolute;
  	bottom:-85px;
  	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	text-align:center;
  	z-index: 1;
  	margin-bottom: 0px !important; 
}


.card:hover .textrtx3080,.card:active .textrtx3080,.card:focus .textrtx3080{
	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transform: translateY(-85px);
}
.card:hover #imgrtx3080,.card:hover #imgrtx3080,.card:focus #imgrtx3080{
	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	background-size: 426px 240px; 
	transform: translateY(-50px);
}
/*fin*/
/*ryzen 5000*/
.textr5000{
  	left: 0px;
	background-color: rgba(10,10,10,0.6);
  	position:absolute;
  	bottom:-61px;
  	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	text-align:center;
  	z-index: 1;
  	margin-bottom: 0px !important; 
}
.card:hover .textr5000,.card:active .textr5000,.card:focus .textr5000{
	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transform: translateY(-61px);
}
#imgr5000{
	height: 100%;
	position: absolute;
  	top:0px;
  	left: 0px;
  	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
 	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	background-image: url('ressource/r5000.jpg');
	background-position: center;
	background-size: 800px 450px;
  	background-repeat:no-repeat;
}
.card:hover #imgr5000,.card:hover #imgr5000,.card:focus #imgr5000{
	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	background-position: 3%;
  	background-origin: border-box;
	background-size: 800px 450px;
}
/*fin*/
/*rocketl*/
.textrocketl{
  	left: 0px;
	background-color: rgba(10,10,10,0.6);
  	position:absolute;
  	bottom:-84px;
  	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	text-align:center;
  	z-index: 1;
  	margin-bottom: 0px !important; 
}
.card:hover .textrocketl,.card:active .textrocketl,.card:focus .textrocketl{
	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transform: translateY(-84px);
}
#imgrocketl{
	height: 100%;
	position: absolute;
  	top:0px;
  	left: 0px;
  	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
 	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	background-image: url('ressource/rocketl.jpg');
	background-position: 85%;
	background-size: 800px 450px;
  	background-repeat:no-repeat;
}
.card:hover #imgrocketl,.card:hover #imgrocketl,.card:focus #imgrocketl{
	-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  	background-position: 9%;
  	background-origin: border-box;
	background-size: 768px 432px;
}
/*fin*/
/*msfs*/
.textmsfs{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-108px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}
.card:hover .textmsfs,.card:active .textmsfs,.card:focus .textmsfs{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-108px);
}
#imgmsfs{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/msfs.jpg');
  background-size: 800px 450px;
    background-repeat:no-repeat;
}
.card:hover #imgmsfs,.card:hover #imgmsfs,.card:focus #imgmsfs{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-position: center;
    background-origin: border-box;
    background-size: 720px 400px;
}
/*fin*/
/*xbox*/
#imgxbox{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/xbox.jpg');
  background-position: center;
  background-size: 800px 450px;
    background-repeat:no-repeat;
}
.textxbox{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-85px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textxbox, .card:active .textxbox,.card:focus .textxbox{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-85px);
}
.card:hover #imgxbox, .card:active #imgxbox,.card:focus #imgxbox{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 426px 240px; 
  transform: translateY(-50px);
}
/*fin*/
/*nice*/
#imgnice{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/nice.png');
  background-position: left;
  background-size: 800px 450px;
    background-repeat:no-repeat;
}
.textnice{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-109px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textnice,.card:active .textnice,.card:focus .textnice{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-109px);
}
.card:hover #imgnice,.card:hover #imgnice,.card:focus #imgnice{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 768px 432px; 
  background-position: center;
}
/*fin*/
/*sk*/
#imgsk{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/sk.jpg');
  background-position: center;
  background-size: 800px 450px;
    background-repeat:no-repeat;
}
.textsk{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-83px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textsk,.card:active .textsk,.card:focus .textsk{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-83px);
}
.card:hover #imgsk,.card:hover #imgsk,.card:focus #imgsk{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 1024px 576px;
  background-position:  53% 50%;
}
/*fin*/
/*dom*/
#imgdom{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/dom.jpeg');
  background-position: 30% 50%;
  background-size: 800px 450px;
    background-repeat:no-repeat;
}
.textdom{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-58.5px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textdom,.card:active .textdom,.card:focus .textdom{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-58.5px);
}
.card:hover #imgdom,.card:hover #imgdom,.card:focus #imgdom{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 1024px 576px;
  background-position: 80% 20%;
}
/*fin*/
/*iris*/
#imgiris{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/iris.jpg');
  background-position: 30% 50%;
  background-size: 800px 450px;
    background-repeat:no-repeat;
}
.textiris{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-82px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textiris,.card:active .textiris,.card:focus .textiris{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-82px);
}
.card:hover #imgiris,.card:hover #imgiris,.card:focus #imgiris{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 1024px 576px;
  background-position: 80% 20%;
}
/*fin*/
/*pcgaming*/
#imgpcgaming{
  height: 100%;
  position:  absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/pcgaming.jpg');
  background-position: 50% 50%;
  background-size: 800px 450px;
    background-repeat:no-repeat;
}
.textpcgaming{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-103px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textpcgaming,.card:active .textpcgaming,.card:focus .textpcgaming{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-103px);
}
.card:hover #imgpcgaming,.card:hover #imgpcgaming,.card:focus #imgpcgaming{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 1024px 576px;
  background-position: 65% 20%;
}
/*fin*/
/*rtx3070*/
#imgrtx3070{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/rtx3070.jpg');
  background-position: 85% 40%;
  background-size: 240%;
    background-repeat:no-repeat;
}
.textrtx3070{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-85px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textrtx3070,.card:active .textrtx3070,.card:focus .textrtx3070{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-85px);
}
.card:hover #imgrtx3070,.card:hover #imgrtx3070,.card:focus #imgrtx3070{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-position: 0% -150%;
  background-size: 220%; 
}
/*fin*/
/*kant*/
#imgkant{
  height: 100%;
  position:  absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/kant.png');
  background-position: 30% 50%;
  background-size: 230%;
    background-repeat:no-repeat;
}
.textkant{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-60px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textkant,.card:active .textkant,.card:focus .textkant{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-60px);
}
.card:hover #imgkant,.card:hover #imgkant,.card:focus #imgkant{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 220%;
  background-position: 95% 20%;
}
/*fin*/
/*3090*/
#imgrtx3090{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/rtx3090.jpg');
  background-position: 85% 40%;
  background-size: 240%;
    background-repeat:no-repeat;
}
.textrtx3090{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-85px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textrtx3090,.card:active .textrtx3090,.card:focus .textrtx3090{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-85px);
}
.card:hover #imgrtx3090,.card:hover #imgrtx3090,.card:focus #imgrtx3090{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-position: 0% -150%;
  background-size: 220%; 
}
/*fin*/
/*shield*/
#imgshield{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/shield.jpg');
  background-size: 260%;
  background-position: center;
    background-repeat:no-repeat;
}
.textshield{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-85px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textshield,.card:active .textshield,.card:focus .textshield{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform: translateY(-85px);
}
.card:hover #imgshield,.card:hover #imgshield,.card:focus #imgshield{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
   background-size: 230%; 
}
/*fin*/
/*armintel*/
#imgarmintel{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/armintel.jpg');
  background-size: 260%;
  background-position: center;
    background-repeat:no-repeat;
}
.textarmintel{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-85px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textarmintel,.card:active .textarmintel,.card:focus .textarmintel{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform: translateY(-85px);
}
.card:hover #imgarmintel,.card:hover #imgarmintel,.card:focus #imgarmintel{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
   background-size: 230%; 
}
/*fin*/
/*r4000*/
#imgr4000{
  height: 100%;
  position: absolute;
    top:0px;
    left: 0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('ressource/r4000.webp');
  background-size: 260%;
  background-position: center;
    background-repeat:no-repeat;
}
.textr4000{
    left: 0px;
  background-color: rgba(10,10,10,0.6);
    position:absolute;
    bottom:-60px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    z-index: 1;
    margin-bottom: 0px !important; 
}


.card:hover .textr4000,.card:active .textr4000,.card:focus .textr4000{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform: translateY(-60px);
}
.card:hover #imgr4000,.card:hover #imgr4000,.card:focus #imgr4000{
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
   background-size: 230%; 
}