
article{
	margin-top: 10px;
	display: block;
	width: 70%;
	flex-wrap: wrap;
	padding-left:  80px;
	padding-right: 80px;
}
article img{
	max-width: 70%;
  	height: auto;
}
article a{
	text-decoration: underline;
}
#propo{
	display: grid;
	margin-top: -100%;
	position: relative;
	background: -webkit-linear-gradient(135deg, #425fff 0, #f8549e 60%, #fe6652 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	padding-right: 10px;
	float: right;
}
#propo .card{
	margin:5px;
	float: left;
  -webkit-background-clip: none;
  -webkit-text-fill-color: white;
}
#propo #stylé{
	height: 3px;
}
footer{
	position: relative;
	bottom: 0px;
}
@media screen and (max-width: 1280px){
	article{
	width: 100%;
	text-align: center;
	padding: 0px !important;
	max-width: 100%;
}
article img{
	max-width: 100% !important;
	width: 100% !important;
}
#propo{
	display: block;
	float: none;
	margin-top: 0px !important; 
}
}
